.border{
    border: 2px solid red;
    margin: 3px;
}

.flex{
    display: flex;
}

.items-center{
    align-items: center;
}

.justify-center{
    justify-content: center;
}

.rounded{
    border-radius: 8px;
}

.m-1{
    margin: 6px;
}

.p-1{
    padding: 10px;
}